<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Java Home</title>
    <link rel="stylesheet" href="/src/main/resources/static/style.css">
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- bootstrap link -->

    <!-- icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- icons -->


</head>

<body>
    <!-- navbar top -->
    <div class="container">
        <div class="navbar-top">
            <div class="social-link">
                <i><img src="/src/main/resources/static/image/twitter.png" alt="" width="30px"></i>
                <i><img src="/src/main/resources/static/image/facebook.png" alt="" width="30px"></i>
                <i><img src="/src/main/resources/static/image/google-plus.png" alt="" width="30px"></i>
            </div>
            <div class="logo">
                <h3>JAVA HOME</h3>
            </div>
            <div class="icons">
                <i><img src="/src/main/resources/static/image/search.png" alt="" width="20px"></i>
                <i><img src="/src/main/resources/static/image/heart.png" alt="" width="20px"></i>
                <i><img src="/src/main/resources/static/image/shopping-cart.png" alt="" width="25px"></i>
            </div>
        </div>
    </div>
    <!-- navbar top -->

    <!-- main content -->
    <div class="main-content">
        <nav class="navbar navbar-expand-md" id="navbar-color">
           <div class="container">
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span><i><img src="/src/main/resources/static/image/menu.png" alt="" width="30px"></i></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#I NOSTRI SERVIZI">Negozio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Nuovi arrivi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Prodotti</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Partner</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Contatti</a>
                </li>
              </ul>
            </div>
        </nav>


          <div class="content">
            <h1>Costruisci la tua casa dei sogni
                <br> Design moderno
            </h1>
            <p> linee pulite, design minimalista, ampi spazi aperti, grandi finestre per abbondante luce <br>naturale, materiali come vetro, acciaio e legno, e una palette di colori neutri.<br> L'arredamento è funzionale con un'estetica semplice e sobria.</p>
            <div id="btn1"><button>Compra ora</button></div>
          </div>
          
    </div>
    <!-- main content -->
    <!-- card1 -->
    <div class="container">
        <h3 class="text-center" style="padding-top: 30px;">I NOSTRI SERVIZI</h3>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="/src/main/resources/static/image/c1.png" alt="" class="card image-top" height="200px">
                    <div class="card-body">
                        <h5 class="card-titel text-center">CREA LA TUA CASA</h5>
                        <p class="text-center">Diventa il tuo Interior Designer e crea la tua casa dei sogni!<br>"Chi possiede l'immaginazione, con quale facilità crea dal nulla un mondo"<br>- Gustavo Adolfo Bécquer - </p>
                        <div id="btn2" class="text-center"><button>Guarda di più</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="/src/main/resources/static/image/c2.png" alt="" class="card image-top" height="200px">
                    <div class="card-body">
                        <h5 class="card-titel text-center">I NOSTRI CONSIGLI</h5>
                        <p class="text-center">Affidati ai nostri designer e fai si che le tue idee diventino realta!<br>"Ascoltare è il modo di accogliere gli altri in se stesso"
                            <br>- Wen Tzu - </p>
                        <div id="btn2" class="text-center"><button>Guarda di più</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="/src/main/resources/static/image/c3.png" alt="" class="card image-top" height="200px">
                    <div class="card-body">
                        <h5 class="card-titel text-center">LE MIGLIORI SCELTE</h5>
                        <p class="text-center">Lasciati ispirare dalle case da sogno che abbiamo creato per altri clienti. <br>"Una buona imitazione è una nuova invenzione"<br>
                            - Xavier de Maistre -</p>
                        <div id="btn2" class="text-center"><button>View More</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card1 -->

    <!-- card2 -->
    <div class="container">
        <div class="row" style="margin-top: 100px;">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" id="tpc">
                    <img src="/src/main/resources/static/image/ch.png" alt="" class="card image-top">
                    <div class="card-img-overlay">
                        <h4 class="card-titel">Miglior Sedia</h4>
                        <p class="card-text"><br><br><br><br><br><br><br></p>
                        <div id="btn2"><button>Guarda di più</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" id="tpc">
                    <img src="/src/main/resources/static/image/sf.png" alt="" class="card image-top">
                    <div class="card-img-overlay">
                        <h4 class="card-titel">Sofa</h4>
                        <p class="card-text"><br><br><br><br><br><br><br></p>
                        <div id="btn2"><button>Guarda di più</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" id="tpc">
                    <img src="/src/main/resources/static/image/work desk.png" alt="" class="card image-top">
                    <div class="card-img-overlay">
                        <h4 class="card-titel">Scrivania da lavoro</h4>
                        <p class="card-text"> <br><br><br><br><br><br><br></p>
                        <div id="btn2"><button>Guarda di più</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card2 -->

    <!-- card3 -->
    <div class="container">
        <h3 class="text-center" style="margin-top: 50px;">ULTIMA COLLEZIONE</h3>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" id="c">
                    <img src="/src/main/resources/static/image/card1.png" alt="" class="card image-top">
                    <div class="card-body">
                        <h3 class="card-titel text-center">Migliori Sofa</h3>
                        <p class="card-text text-center">$1000.50</p>
                        <div id="btn3"><button>Compra Ora</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" id="c">
                    <img src="/src/main/resources/static/image/card2.png" alt="" class="card image-top">
                    <div class="card-body">
                        <h3 class="card-titel text-center">Nuovi Sofa</h3>
                        <p class="card-text text-center">$100.50</p>
                        <div id="btn3"><button>Compra Ora</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" id="c">
                    <img src="/src/main/resources/static/image/card3.png" alt="" class="card image-top">
                    <div class="card-body">
                        <h3 class="card-titel text-center">Nuovi Prodotti</h3>
                        <p class="card-text text-center">$300.20</p>
                        <div id="btn3"><button>Compra Ora</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" id="c">
                    <img src="/src/main/resources/static/image/card4.png" alt="" class="card image-top">
                    <div class="card-body">
                        <h3 class="card-titel text-center">Sedie Moderne</h3>
                        <p class="card-text text-center">$500.50</p>
                        <div id="btn3"><button>Compra Ora</button></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="margin-top: 50px;">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" id="c">
                    <img src="/src/main/resources/static/image/card5.png" alt="" class="card image-top">
                    <div class="card-body">
                        <h3 class="card-titel text-center">Migliori Sofa</h3>
                        <p class="card-text text-center">$200.50</p>
                        <div id="btn3"><button>Compra Ora</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" id="c">
                    <img src="/src/main/resources/static/image/card6.png" alt="" class="card image-top">
                    <div class="card-body">
                        <h3 class="card-titel text-center">Sofa</h3>
                        <p class="card-text text-center">$100.50</p>
                        <div id="btn3"><button>Compra Ora</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" id="c">
                    <img src="/src/main/resources/static/image/card1.png" alt="" class="card image-top">
                    <div class="card-body">
                        <h3 class="card-titel text-center">Tavoli & Sedie</h3>
                        <p class="card-text text-center">$150.50</p>
                        <div id="btn3"><button>Compra Ora</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <div class="card" id="c">
                    <img src="/src/main/resources/static/image/card1.png" alt="" class="card image-top">
                    <div class="card-body">
                        <h3 class="card-titel text-center">Sedia in offerta</h3>
                        <p class="card-text text-center">$500.60</p>
                        <div id="btn3"><button>Compra Ora</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card3 -->

    <!-- about -->
    <div class="container">
        <h1 class="text-center" style="margin-top: 50px;">Chi Siamo</h1>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="/src/main/resources/static/image/about.png" alt="">
                </div>
            </div>
            <div class="col-md-6 py-3 py-md-0">
                <p>
                    Benvenuti su Java Home, dove l'arte dell'arredamento incontra la comodità dello shopping online.

                    La Nostra Storia
                    Nato da una piccola bottega artigiana chiamata "Eleganza Domestica", Java Home è il frutto della
                    passione e della dedizione di Marco, un maestro artigiano con oltre 30 anni di esperienza nella
                    creazione di mobili di alta qualità.
                    Con l'aiuto della sua nipote Chiara, esperta di marketing digitale, Marco ha portato la sua visione
                    e il suo talento nel mondo dell'e-commerce, rendendo accessibili i suoi esclusivi pezzi di
                    arredamento a clienti di tutto il mondo.

                    La Nostra Missione
                    La nostra missione è fornire arredamento di alta qualità che unisce design elegante, funzionalità e
                    comfort. Ogni pezzo che offriamo è selezionato con cura per garantire che rispecchi i nostri valori
                    di artigianalità, sostenibilità e bellezza.

                    I Nostri Valori
                    Artigianalità: Crediamo nel valore del lavoro fatto a mano e della maestria artigianale. Ogni mobile
                    che proponiamo è realizzato con la massima attenzione ai dettagli.
                    Qualità: Utilizziamo solo materiali di prima scelta per garantire prodotti durevoli e di alto
                    livello.
                    Design: Collaboriamo con designer innovativi per offrire pezzi che combinano estetica e
                    funzionalità.
                    Sostenibilità: Siamo impegnati a utilizzare pratiche sostenibili e materiali ecologici per ridurre
                    il nostro impatto ambientale.
                    Cosa Offriamo
                    Su Java Home, troverete una vasta gamma di mobili e accessori per la casa, tra cui:

                    Divani e poltrone
                    Tavoli e sedie
                    Letti e materassi
                    Mobili per ufficio
                    Complementi d'arredo
                    Ogni prodotto è accompagnato da dettagliate descrizioni e fotografie professionali per aiutarti a
                    scegliere il pezzo perfetto per il tuo spazio.

                    Il Nostro Impegno
                    Siamo dedicati a fornire un'esperienza di acquisto senza pari. Dall'assistenza clienti
                    personalizzata alle spedizioni rapide e sicure, il nostro obiettivo è la vostra completa
                    soddisfazione. Non esitate a contattarci per qualsiasi domanda o richiesta: siamo qui per aiutarvi a
                    trasformare la vostra casa nel rifugio dei vostri sogni.</p>
                <div id="btn4"><button>Scopri di più...</button></div>
            </div>
        </div>
    </div>
    <!-- about -->

    <!-- footer -->
    <footer id="footer">
        <h1 class="text-center">Home Java Home</h1>
        <p class="text-center">Grazie per aver scelto Java Home. Siamo entusiasti di accompagnarvi nel vostro viaggio di
            arredamento.</p>
        <div class="icons text-center">
            <i class="bx bxl-twitter"></i>
            <i class="bx bxl-facebook"></i>
            <i class="bx bxl-google"></i>
            <i class="bx bxl-skype"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="copyright text-center">
            &copy; Copyright <strong><span>Home Java Home</span></strong>. All Rights Reserved
        </div>
        <div class="credite text-center">
            Designed By <a href="#">Home java Home</a>
        </div>
    </footer>
    <!-- footer -->


</body>

</html>