<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambiente Prodotti</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: tahoma;
            overflow-x: hidden;
            background-image: url(https://th.bing.com/th/id/R.050ae76e3cf9c0a183d75023703c5992?rik=%2f6EA5DqePgc4Dw&pid=ImgRaw&r=0);
            background-repeat: no-repeat;
            background-size: cover;

        }
    </style>

    <br><br>
    <ul>
        <li><a href="/" class="active">Home</a></li>
    </ul>
</head>

<body>



    <h4>Lista Prodotti</h4>
    <div>


        <ul th:each="prods : ${listaProdotti}">
            <li th:text="${prods.idProdotto  +  prods.nome  +  prods.tipo  +  prods.prezzo  +  prods.quantita }"></li>
        </ul>
    </div>

</body>

</html>